/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding: 1.4rem 0;
    color: white;
    background-color: #59bfc2;
}
.h3-head{
    font-size: 2rem;
    font-weight: 500;
}
.links a{
    margin-left:1rem ;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}
.hero{
    background-color: #59bfc2;
    text-align: center;
}
.flexible-width{
    width: 67%;
    margin: -8rem;
}
.btn{
    color: #314377;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-weight: 600;
    margin: 1.4rem 0;
}
.h1-head{
    color: white;
    font-size: 4rem;
    width: 50%;
    margin: 0 auto;
    font-weight: 600;
    padding-top: 5rem;
}
.file{
    margin-top: 15rem;
}
.file a{
    text-decoration: none;
    color: #bdc8e0;
}
.arrange-icons{
    color: #bdc8e0;
    font-size: 1.8rem;
    font-weight: 800;
}
.verticle-align{
vertical-align: middle;
margin-right: .6rem;
}
hr{
margin: 4rem 0;
border: 1px solid #bfd1f6;
}
.flex-48{
    flex: 0 1 48%;
}
.full-width{
    width: 100%;
}
.h2-head{
    font-size: 2.2rem;
    color: #283e7d;
    font-weight: 600;
}
.para{
    color: #677cab;
    font-size: 1.4rem;
    margin: 2.2rem 0;
    letter-spacing: 1px;
}

.btn-secondary{
    text-decoration: none;
    background-color: #59bfc2;
    color: white;
    padding: 1rem 1.4rem;
    /* padding-top: 1rem; */
    font-size: 1.4rem;
}
.btn-triangle::before{
content: '';
display: inline-block;
background-color:red;
border-top-color:pink ;
border-right-color:yellow ;
border-bottom-color:orange ;
border-left-color:green ;
}
.btn-triangle::after{
    content: '';
    display: inline-block;
    background-color:red;
    border-top-color:pink ;
    border-right-color:yellow ;
    border-bottom-color:orange ;
    border-left-color:green ;
    }
    .score{
        margin-top: 5rem;
    }
    .h4-head{
    color: #283e7d;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    }

    .table-main{
        text-align: center;
    }