/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding: 1.4rem 0;
    color: white;
    background-color: #59bfc2;
}
.h3-head{
    font-size: 2rem;
    font-weight: 500;
}
.links a{
    margin-left:1rem ;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}
.hero{
    background-color: #59bfc2;
    text-align: center;
}
.flexible-width{
    width: 67%;
    margin: -8rem;
}
.btn{
    color: #314377;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-weight: 600;
    margin: 1.4rem 0;
}
.h1-head{
    color: white;
    font-size: 4rem;
    width: 50%;
    margin: 0 auto;
    font-weight: 600;
    padding-top: 5rem;
}
.file{
    margin-top: 15rem;
}
.file a{
    text-decoration: none;
    color: #bdc8e0;
}
.arrange-icons{
    color: #bdc8e0;
    font-size: 1.8rem;
    font-weight: 800;
}
.verticle-align{
vertical-align: middle;
margin-right: .6rem;
}
hr{
margin: 4rem 0;
border: 1px solid #bfd1f6;
}
.flex-48{
    flex: 0 1 48%;
}
.full-width{
    width: 100%;
}
.h2-head{
    font-size: 2.2rem;
    color: #283e7d;
    font-weight: 600;
}
.para{
    color: #677cab;
    font-size: 1.4rem;
    margin: 2.2rem 0;
    letter-spacing: 1px;
}

.btn-secondary{
    text-decoration: none;
    background-color: #59bfc2;
    color: white;
    padding: 1rem 1.4rem;
    /* padding-top: 1rem; */
    font-size: 1.4rem;
}
.btn-triangle::before{
content: '';
display: inline-block;
background-color:red;
border-top-color:pink ;
border-right-color:yellow ;
border-bottom-color:orange ;
border-left-color:green ;
}
.btn-triangle::after{
    content: '';
    display: inline-block;
    background-color:red;
    border-top-color:pink ;
    border-right-color:yellow ;
    border-bottom-color:orange ;
    border-left-color:green ;
}
.score{
        margin-top: 5rem;
}
.h4-head{
    color: #283e7d;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.table-main{
        text-align: left;

}

.table-heading th{
    padding-left: 1rem;
}
tr:nth-child(2n+3){
    background-color: #d5e5e5;
}
.table-heading {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #429ea1;
    line-height: 2;
}
td{
    border: 2px solid #c5d1d1;
    height: 3.7rem;
    width: 19rem;
    text-align: left;
    padding-left: 1rem;
    vertical-align: middle;
    color: #72757C;
    font-size: 1.2rem;
}

.packages{
    text-align: center;
    margin: 3rem 0;
}
.text {
    font-size: 1.4rem;
    font-weight: 600;
}
.slider-container {
    width: 6rem;
    background: #BBECEB;
    height: 2.8rem;
    display: inline-block;
    border-radius: 25px;
    line-height: 2.8rem;
    text-align: right;
    margin: 2rem 1rem;
}
.slider {
    height: 2rem;
    background: #59bfc2;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 2.1rem;
    margin-right: .5rem;
}
.line-inside {
    display: inline-block;
    background: white;
    height: 1rem;
    width: .25rem;
}
.each-packages {
    border: 6px solid #E8EEFB;
    border-radius: 15px;
    padding: 3rem 2rem;
}
.packages-text {
    color: #8492b3;
    font-size: 1.4rem;
    margin: 1rem 0;
}
.price {
    font-size: 4.5rem;
    color: #59bfc2;
    font-weight: 600;
}
.price::before {
    content: "$";
    font-size: 2.2rem;
    color: #59bfc2;
    margin-right: .5rem;
}
.price::after {
    content: "/Month";
    font-size: 1.5rem;
    color: #8492b3;
    margin-left: .5rem;
    font-weight: 400;
}
.packages .line {
    margin-top: 2rem;
}
.feature {
    font-size: 1.7rem;
    color: #42517B;
    margin-top: 1.8rem;
    text-align: left;
}
.unmarked-features-color {
    color: #7083AF;
}
.checked-icon, .unchecked-icon {
    color: #59bfc2;
    font-size: 1.3rem;
    margin-right: 1rem;
}
.unchecked-icon {
    color: #E94677;
}
.btn-packages {
    height: 4.2rem;
    border-radius: 7px;
    width: 90%;
    background: white;
    color: #42517B;
    border: 2px  solid #d7d9dd;
    font-size: 1.7rem;

    padding: 0.6rem 10rem;
    line-height: 4.2rem;
}
.height{
    margin-top: 1.6rem;
}
.btn-package-active {
    background: #59bfc2;
    border: 0;
    color: white;
}
.trial-sec {
    background: #59bfc2;
    border-radius: 25px;
    padding: 5rem 0;
    text-align: center;
    margin-top: 10rem;
}
.trial-sec .h2-heading {
    color: white;
}
.btn-trial-sec {
    background: white;
    width: 30%;
    border: 0;
}
.h5-head{
    color: white;
    font-size: 2.4rem;
}
.footer {
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.footer .brand-name {
    color: #283D7D;
    font-size: 2.5rem;
}
.flex-28{
    flex: 0 1 28%;
}
.flex-22{
    flex: 0 1 22%;
}
.footer .text {
    color: #6E81AE;
    font-size: 1.4rem;
    margin-top: 1rem;
    text-decoration: none;
}
.h3-heading {
    font-size: 2rem;
    color: #283D7D;
}
.brand-and-nav {
    margin-right: 6rem;
}
.icon-container {
    display: inline-block;
    background: #59bfc2;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    line-height: 2.5rem;
    text-align: center;
    color: white;
    margin-right: 2rem;
    margin-top: 2rem;
}
.contact a {
    margin-top: 1rem;
    display: inline-block;
}
.flex-start{
    align-items: flex-start;
}
.end {
    justify-content: end;
}

